.wrapper {
  position: relative;

  .map {
    .map-container {
      width: 100vw;
      height: calc(100vh - 3.4rem);
    }
  }

  .slider {
    position: absolute;
    width: 100vw;
    bottom: 0;
  }
}
