.card {
  padding: 1rem;
  background-color: #fff;

  &__body {
    display: flex;
    margin-bottom: 1rem;

    > img {
      width: 40%;
      height: 100%;
      object-fit: cover;
      margin-right: 1rem;
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 0.8rem;
      color: #616161;

      header {
        h3 {
          font-size: 1rem;
          color: #000;
          margin-bottom: 0.6rem;
        }

        span {
          text-transform: uppercase;
        }
      }

      &__extras {
        &--price {
          display: block;
          font-size: 1.4rem;
          font-weight: 600;
          color: #000;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .btn--primary {
    width: 100%;
    padding: 1rem;
  }
}
